<div class="window">

  <div class="tab-group">
    <div class="tab-item tab-item-fixed active">
      <span class="icon icon-archive"></span>
    </div>
    <div class="tab-item">
      <span class="icon icon-cancel icon-close-tab"></span>
      Diagram 1
    </div>
    <div class="tab-item">
      <span class="icon icon-cancel icon-close-tab"></span>
      Diagram 2
    </div>
    <div class="tab-item">
      <span class="icon icon-cancel icon-close-tab"></span>
      Diagram 3
    </div>
  </div>

  <div class="tab-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore labore ad, necessitatibus dolorum dolores veritatis quidem. Quia provident similique quas molestiae neque, dignissimos eum ducimus, magni deserunt dolorum optio et!</p>
  </div>

</div>