<div class="window">

  <div *ngIf="openDiagrams.length > 0" class="tab-group">
    <div class="tab-item tab-item-fixed active">
      <span class="icon icon-archive"></span>
    </div>
    <div *ngFor="let diagram of openDiagrams" class="tab-item">
      <span class="icon icon-cancel icon-close-tab" (click)="close(diagram)"></span>
      {{diagram}}
    </div>
  </div>

  <div class="tab-content">
    <ul class="list-group">
      <li class="list-group-header">
        <strong>Diagrams List</strong>
      </li>
      <li *ngFor="let diagram of allDiagrams" class="list-group-item">
        <a href="#" (click)="open(diagram)"><strong>{{diagram}}</strong></a>
      </li>
    </ul>
  </div>

</div>